prefer-no-csd

input {
    keyboard {
        repeat-delay 200
        repeat-rate 35
        xkb {}
        numlock
    }

    touchpad {
        tap
    }

    mouse {}
    trackpoint {}
    focus-follows-mouse max-scroll-amount="0%"
}

output "HDMI-A-1" {
    mode "1920x1080@144.013"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 25
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {
        proportion 0.5
    }

    focus-ring {
        width 1.5
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 1.5
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

binds {
    Super+Space {
        spawn "sh" "-c" "qs -c noctalia-shell ipc call launcher toggle";
    }

    Super+Return {
        spawn "kitty";
    }

    Super+W {
        spawn "zen-browser";
    }

    Mod+A {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:wallcards" "toggle";
    }

    Super+E {
        spawn "dolphin";
    }

    Mod+V {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:clipper" "togglePanel";
    }

    Super+Shift+S {
        spawn "sh" "-c" "qs -c noctalia-shell ipc call plugin:screenshot takeScreenshot region";
    }

    Super+Q {
        close-window;
    }

    Super+Z {
        toggle-window-floating;
    }

    Super+D {
        expand-column-to-available-width;
    }

    Super+F {
        fullscreen-window;
    }

    Super+Comma {
        spawn "sh" "-c" "qs -c noctalia-shell ipc call settings toggle";
    }

    Super+S {
        spawn "sh" "-c" "qs -c noctalia-shell ipc call controlCenter toggle";
    }

    Ctrl+Super+R {
        spawn "sh" "-c" "killall qs quickshell; qs -c noctalia-shell &";
    }

    Mod+Shift+Slash {
        show-hotkey-overlay;
    }

    Mod+O {
        toggle-overview;
    }

    Mod+Left {
        focus-column-left;
    }

    Mod+Right {
        focus-column-right;
    }

    Mod+Down {
        focus-window-down;
    }

    Mod+Up {
        focus-window-up;
    }

    Mod+Ctrl+Left {
        move-column-left;
    }

    Mod+Ctrl+Right {
        move-column-right;
    }

    Mod+Ctrl+Down {
        move-window-down;
    }

    Mod+Ctrl+Up {
        move-window-up;
    }

    Mod+1 {
        focus-workspace 1;
    }

    Mod+2 {
        focus-workspace 2;
    }

    Mod+3 {
        focus-workspace 3;
    }

    Mod+4 {
        focus-workspace 4;
    }

    Mod+5 {
        focus-workspace 5;
    }

    Mod+6 {
        focus-workspace 6;
    }

    Mod+7 {
        focus-workspace 7;
    }

    Mod+8 {
        focus-workspace 8;
    }

    Mod+9 {
        focus-workspace 9;
    }

    Mod+Shift+1 {
        move-column-to-workspace 1;
    }

    Mod+Shift+2 {
        move-column-to-workspace 2;
    }

    Mod+Shift+3 {
        move-column-to-workspace 3;
    }

    Mod+Shift+4 {
        move-column-to-workspace 4;
    }

    Mod+Shift+5 {
        move-column-to-workspace 5;
    }

    Mod+Shift+6 {
        move-column-to-workspace 6;
    }

    Mod+Shift+7 {
        move-column-to-workspace 7;
    }

    Mod+Shift+8 {
        move-column-to-workspace 8;
    }

    Mod+Shift+9 {
        move-column-to-workspace 9;
    }

    XF86AudioRaiseVolume {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+";
    }

    XF86AudioLowerVolume {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-";
    }

    XF86AudioMute {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle";
    }

    XF86MonBrightnessUp {
        spawn "brightnessctl" "set" "+10%";
    }

    XF86MonBrightnessDown {
        spawn "brightnessctl" "set" "10%-";
    }
}

spawn-at-startup "sh" "-c" "qs -c noctalia-shell";
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}






layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

spawn-at-startup "swaybg" "-o" "*" "-m" "fill" "-i" "/home/zzz/Wallpapers/sdfsdfsdf.jpg"







window-rule {
    match is-active=false
    opacity 0.95
}

include "./noctalia.kdl"
