layout {

    focus-ring {
        active-color   "#faa351"
        inactive-color "#291e14"
        urgent-color   "#fa9b42"
    }

    border {
        active-color   "#faa351"
        inactive-color "#291e14"
        urgent-color   "#fa9b42"
    }

    shadow {
        color "#291e1470"
    }

    tab-indicator {
        active-color   "#faa351"
        inactive-color "#984a00"
        urgent-color   "#fa9b42"
    }

    insert-hint {
        color "#faa35180"
    }
}

recent-windows {
    highlight {
        active-color "#faa351"
        urgent-color "#fa9b42"
    }
}
